.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
/.orcaslicer_machine_id
/log
/BambuNetworkEngine.conf
/log
/plugins
/system
user/hints.cereal
/user_backup*
/cache
/OrcaSlicer.conf
/printers
/hms
/ota